.app-wrapper {
  margin: 0;
  display: grid;
  grid-template-areas:
    'header header'
    'nav content';
  grid-template-rows: 10vh 89vh;
  grid-template-columns: 10vw 89vw;
  grid-gap: 1vw;
}

.header {
  /* все grid-area: псевдоним для элемента с указанным классом */
  grid-area: header;
  background-color: greenyellow;
}

.header img {
  height: 8vh;
}

.nav {
  grid-area: nav;
  background-color: green;
  color: white;
}

.content {
  grid-area: content;
  background-color: lightgreen;
}